<!-- Footer -->

  <footer class="white-section" id="footer">
    <div class="container-fluid">

    <a class="link" href="https://twitter.com/"><i class="footer-btn fa-brands fa-twitter fa-xl"></i></a>
    <a class="link" href="https://www.facebook.com/"><i class="footer-btn fa-brands fa-facebook-square fa-xl"></i></a>
    <a class="link" href="https://www.instagram.com/"><i class="footer-btn fa-brands fa-instagram fa-xl"></i></a>


      <p class="end_p">© Copyright 2022 parent autobiography</p>
    </div>
  </footer>

</body>
</html>