{% include "header.html" %}

<section id="features">
    <div class="row">

    <div class="col-lg-12 ">

    <h1 class="title" style="--duration: 1s">
        <span style="--delay: .5s">세상에서 가장 소중한 나의 부모님이 들려주는 이야기들</span>
    </h1>

    </div>

    <div class="col-lg-12 ">
        <h1 class="title" style="--duration: 1s">
        <span style="--delay: .8s">그때 그시절 부모님의 이야기를 손안에 담다.</span>
        </h1>

    </div>
        </div>

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <img class="title_image" src="static/img/promise-day.png" alt="iphone-mockup">
            <a href='{{ url_for("q_page_1") }}'><button type="button" class="btn btn-outline-warning btn-lg start-button " > 시간여행 -></button></a>
        </div>


    </div>

</section>


{% include "footer.html" %}

<div class="col-lg-12">
<p class="end_p">This site is a question-and-answer site for parents created by developer preparation students.<br> If you have any questions, please contact hgyouing@naver.com.</p>
</div>
