{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


<section id="features">
    <div class="container-fluid">

      <div class="row">
          <div class="col-lg-12 title_1">
        <h1>부모님의 타임머신 출발 합니다. </h1><br>
        </div>

        <div class="features-box col-lg-4" >
          <h3><i class="fa-solid fa-circle-check "></i> <br> </h3>
          <h3>길지 않아도 되니 그때 감정을 <br>그대로 적어주세요.</h3>
          </div>
        <div class="features-box col-lg-4" >
          <h3><i class="fa-solid fa-heart"></i> <br> </h3>
          <h3>언젠가 다시 떠올리며 웃고 떠들수 있는 <br>부모님과의 의미있는 추억을 쌓아보세요.</h3>
          </div>
        <div class="features-box col-lg-4" >
          <h3><i class="fa-solid fa-bullseye"></i> <br> </h3>
          <h3>총 15문 15답 으로 준비되어 있습니다.</h3>
          </div>

          </div>


</section>

<section id="questions">

<div class="row">

<div class="col-lg-12">
    {{ wtf.quick_form(form,extra_classes="q_title") }}

    <hr>

</div>

</div>

</section>

{% include "footer.html" %}